body {
    background: url(images/background.jpg)no-repeat center fixed;
    background-size: cover;
    text-align: center;
    font-family: 'Montserrat', sans-serif;

}

div.main {
    border: 2px solid purple;
    width: 600px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    margin-top: 55px;
    padding-bottom: 10px;
}

div.minor {
    background-color: purple;
    padding-top: 30px;
    padding-bottom: 10px;
}

button {
    font-size: 20px;
    color: white;
    background-color: green;
    padding: 5px 15px;
}

p.forgotpassword {
    font-family: Georgia;
    font-style: italic;
    padding-bottom: 25px;
    padding-top: 5px;
}

p.forgotpassword:hover {
    /* color: yellow; */
    text-decoration: underline;
}

p {
    color: white;
    font-size: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

img.mainimg {
    padding: 30px 80px 25px;
}

hr {
    width: 280px;
}

table {
    border-spacing: 15px;
    /* padding-top:10px; */
    /* vertical-align:center; */
    margin-top: 6px;
}

#results{
    border:1px solid red;
}